<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <h1>Text Sentiment Analysis</h1>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="article_url"
            type="text"
            name="input"
            value=""
            placeholder="please write an article's URL"
          />
          <input
            type="submit"
            value="Analyse"
            onclick="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <h2><strong>Text Analysis Results:</strong></h2>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
