$font-stack: Helvetica, sans-serif;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 120% $font-stack;
}

main {
  flex: 2;

  &h2 {
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 20px;
  }
}

h1 {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  margin: 50px;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
